.build/
binary/
cache/
config/
.lock
chroot/
binary.modified_timestamps
chroot.files
chroot.packages.install
chroot.packages.live
PLDE_alpha1_20230505-amd64.contents
PLDE_alpha1_20230505-amd64.files
PLDE_alpha1_20230505-amd64.hybrid.iso
PLDE_alpha1_20230505-amd64.hybrid.iso.zsync
PLDE_alpha1_20230505-amd64.packages
!resources
