[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=plasmalinux_backgrounds
Comment=set plasma linux backgroounds
Exec=/usr/share/plasmalinux/plasmalinux_backgrounds.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

